.vehicles-interacting {
  height: 100%;
}

.vehicles-interacting > .vehicles-interacting-element {
  padding-right: 6px;
  padding-left: 6px;
}

.vehicles-interacting > .vehicles-interacting-element:last-of-type {
  box-shadow: none;
  padding-bottom: 6px;
}
