.vehicle-descriptor {
  font-size: 14px;
  color: #282828;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.vehicle-descriptor .control-button {
  color: #888888;
}

.vehicle-descriptor .control-button:hover {
  cursor: pointer;
  color: #484848;
}

.vehicle-descriptor .control-button:focus {
  color: #484848;
}

.vehicle-descriptor .control-button i {
  font-size: 14px;
}

.vehicle-descriptor > .vehicle-title {
  position: relative;
  width: 100%;
  flex-grow: 0;
  padding-left: 8px;
  padding-right: 8px;
  height: 28px;
  background-color: white;

  display: flex;
  align-items: center;
}

.vehicle-title > span {
  padding-left: 8px;
  padding-right: 8px;
  margin-right: auto;
}

.vehicle-title .control-button {
  width: 24px;
  height: 28px;
}

.vehicle-title .control-button i {
  font-size: 14px;
}

.vehicle-title .vehicle-menu {
  position: relative;
  top: 28px;
  right: 0px;
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
}

.vehicle-descriptor > .tasks {
  flex-grow: 1;
  padding: 8px;
  background-color: rgb(235, 235, 235);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}

.tasks > .task {
  padding: 6px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.tasks > .task:last-of-type {
  margin-bottom: 0px;
}

.task > .task-header {
  height: 20px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.task > .task-step {
  height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task > .task-step:nth-child(even) {
  background-color: rgb(235, 235, 235);
}

.task-header > span {
  padding-left: 8px;
  padding-right: 8px;
  margin-right: auto;
}

.task-header .control-button {
  width: 20px;
  height: 20px;
}

.task-header .control-button i {
  font-size: 14px;
}

.tasks > .tasks-controls {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}

.tasks-controls .control-button {
  margin-right: 6px;
  color: #282828;
}

.tasks-controls .main-control {
  height: 24px;
  padding-right: 6px;
  padding-left: 6px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.tasks-controls .secondary-control {
  height: 16px;
}

.tasks-controls .secondary-control:hover {
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.5);
}

.tasks-controls .control-button:last-of-type {
  margin-right: 0;
}
